* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Boot CSS */

img {
    width: 100%;
    max-width: 400px;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50 {
    width: 50%;
    padding: 0 10px;
}

.w33 {
    width: 33%;
    padding: 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


/* CSS Especifico */

header {
    background-color: #3d437a;
    padding: 20px 0;
}

header .logo a{
    color: white;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.mobile {
    display: none;
}

nav.desktop ul {
    list-style: none;
    position: relative;
}

nav.desktop li {
    padding: 0 30px;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {
    text-decoration: none;
    color: white;
}

.banner-principal {
    width: 100%;
    height: 600px;
    background-image: url('../images/bg-form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.banner-principal form {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    max-width: 600px;
    width: 98%;
}

.banner-principal form h2 {
    font-size: 30px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.banner-principal form input[type=email] {
    width: 100%;
    height: 66px;
    font-size: 22px;
    background: white;
    color: #333;
    padding-left: 10px;
    margin-top: 10px;
}

.banner-principal form input[type=submit] {
    width: 100%;
    height: 66px;
    font-size: 22px;
    background: #00c59e;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    border: 0;
}

.descricao-autor{
    padding: 30px 0;

}

.descricao-autor h2{
    font-size: 25px;
    font-weight: 400;
    color: #444;
}

.descricao-autor p{
    font-size: 16px;
    color: #444;
    margin-top: 10px;
}

.descricao-autor img {
    border-radius: 50%;
    margin: 0 auto;
}


.especialidades {
    background-color: #e2e2e2;
    padding: 40px 0;
}

.especialidades h2.title {
    font-size: 30px;
    color: #999;
    font-weight: 400;
    text-align: center;
}

.box-especialidade {
    margin: 40px 0;
    text-align: center;
}

.box-especialidade h3{
    color: #404580;
    font-size: 40px;
}

.box-especialidade h4{
    font-weight: 300;
    font-size: 25px;
    color: #bababa;
}

.box-especialidade p {
    margin-top: 10px;
    color: #444;
    font-size: 15px;
}


.depoimentos-container {
    padding: 0 50px;
}

.depoimento-single {
    padding: 15px 0;
    border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

p.nome-autor {
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.servicos-container {
    padding: 0 50px;
}

.extras {
    padding: 30px 0;
    background-color: #404580;
}

.extras .title {
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 20px;
}

.servicos ul {
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

.servicos li {
    margin: 20px 0;
    list-style-position: inside;
}

footer {
    background-color: #313462;
    padding: 30px 0;
} 

footer p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}




/* Responsivo */

@media screen and (max-width: 780px){
    nav.desktop{
        display: none;
    }

    nav.mobile {
       display: block;
    }

    nav.mobile ul {
        display: none;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 55px;
        text-align: center;
        width: 100%;
    }

    nav.mobile li {
        font-weight: 300;
      font-size: 15px;
      display: block;
      background-color: white;
      border-bottom: 1px solid #ccc;
      padding: 8px 0;
    }

    nav.mobile li a{
        color: #444;
        text-decoration: none;
        display: block;
    }

    .botao-menu {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }
}

@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
    .w50 {
        padding: 20px;
        width: 100%;
    }
    .w33 {
        width: 100%;
        padding: 20px;
    }
    .box-especialidade{
        padding: 40px 20px ;
        margin: 0;
    }
}


